<!--
Ref on 2019-04-30: https://stackoverflow.com/questions/16148748/reading-connection-string-from-external-config-file
Sumary: on external config file:
- Remove xml header (<?xml version="1.0" encoding="utf-8" ?>).
- Set the properties of your config file to Copy to Output Directory = Copy if newer or Copy always (copy always used).
- Add the clear element.
-->

<connectionStrings>
  <clear/>

  <!-- CNI BSB -->
	<!--
  <add
    name="GAEntities"
    providerName="System.Data.EntityClient"
    connectionString="metadata=res://*/GAEntities.csdl|res://*/GAEntities.ssdl|res://*/GAEntities.msl;
                      provider=System.Data.SqlClient;
                      provider connection string=&quot;
                      data source=10.19.1.222\INNOVIX;
                      initial catalog=GA;
                      user id=adm.ga;
                      password=GA@CNI@GA1000;
                      MultipleActiveResultSets=True;
                      App=EntityFramework&quot;"
    />
 -->
  <!-- CNI SP -->
  <!--
  <add
    name="GAEntities"
    providerName="System.Data.EntityClient"
    connectionString="metadata=res://*/GAEntities.csdl|res://*/GAEntities.ssdl|res://*/GAEntities.msl;
                      provider=System.Data.SqlClient;
                      provider connection string=&quot;
                      data source=10.185.244.26\PRODUCAO;
                      initial catalog=GA;
                      persist security info=True;
                      user id=ga;
                      password=GA@CNI@GA1000;
                      MultipleActiveResultSets=True;
                      App=EntityFramework&quot;"
  />
  -->
	
  <!--Touring -->
  <!-- Interessante: integrated security=True; ao invés de login e senha. -->
  <!--
	<add 
    name="GAEntities"
    providerName="System.Data.EntityClient" 
    connectionString="metadata=res://*/GAEntities.csdl|res://*/GAEntities.ssdl|res://*/GAEntities.msl;
                      provider=System.Data.SqlClient;
                      provider connection string=&quot;
                      data source=10.50.8.100\sqlexpress;
                      initial catalog=GA;
                      integrated security=True;
                      MultipleActiveResultSets=True;
                      App=EntityFramework&quot;"
    />
	-->

  <!-- sesilab -->

  <add
    name="GAEntities"
    providerName="System.Data.EntityClient"
    connectionString="metadata=res://*/GAEntities.csdl|res://*/GAEntities.ssdl|res://*/GAEntities.msl;
                      provider=System.Data.SqlClient;
                      provider connection string=&quot;
                      data source=10.50.8.100\sqlexpress;
                      initial catalog=GA;
                      user id=adm.ga;
                      password=GA@CNI@GA1000;
                      MultipleActiveResultSets=True;
                      App=EntityFramework&quot;"
    />



</connectionStrings>

