/* Light */
@font-face {
  font-family: "Noto Sans CJK JP Light";
  font-style: normal;
  font-weight: 300;
  src: url('../../../Fonts/notosans-ja-jp-light.otf');
}

/* Regular */
@font-face {
  font-family: "Noto Sans CJK JP Regular";
  font-style: normal;
  font-weight: 400;
  src: url('../../../Fonts/notosans-ja-jp-regular.otf');
}

/* Semibold */
@font-face {
  font-family: "Noto Sans CJK JP Medium";
  font-style: normal;
  font-weight: 600;
  src: url('../../../Fonts/notosans-ja-jp-medium.otf');
}

/* Bold */
@font-face {
  font-family: "Noto Sans CJK JP Bold";
  font-style: normal;
  font-weight: 700;
  src: url('../../../Fonts/notosans-ja-jp-bold.otf');
}

/* Black */
@font-face {
  font-family: "Noto Sans CJK JP Black";
  font-style: normal;
  font-weight: 800;
  src: url('../../../Fonts/notosans-ja-jp-black.otf');
}

body, input, button, textarea {
	font-family: "Noto Sans CJK JP", sans-serif;
}

@media print {	
	body {
	font-family: "Noto Sans CJK JP Regular", sans-serif;
	}
	
	h1, h2, h3, h4, h5, h6, th, .uitext, .specialbold  {
	font-family: "Noto Sans CJK JP Bold", sans-serif;
	}
}

body, input, button, textarea {
	font-family: "Noto Sans CJK JP Regular", "Microsoft JhengHei", sans-serif;
}

h1, h2, h3, h4, h5, h6, th, .uitext, .specialbold  {
	font-family: "Noto Sans CJK JP Bold", "Microsoft JhengHei", sans-serif;
	}