<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="VideoOS.Diagnostics.Logging" type="VideoOS.Diagnostics.Logging.Configuration.ConfigurationSectionHandler, VideoOS.Utilities" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VideoOS.RemoteClient.MainApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AVIExporterClientMW" culture="neutral" publicKeyToken="bc60fba4a7969f89" />
        <codeBase version="1.0.0.0" href="bin/AVIExporterClientMW.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VideoOS.Toolkit" culture="neutral" publicKeyToken="bc60fba4a7969f89" />
        <codeBase version="1.0.0.0" href="bin/VideoOS.Toolkit.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VideoOS.DatabaseUtility.Common" culture="neutral" publicKeyToken="bc60fba4a7969f89" />
        <codeBase version="1.0.0.0" href="bin/VideoOS.DatabaseUtility.Common.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VideoOS.DatabaseUtility.MediaStorage" culture="neutral" publicKeyToken="bc60fba4a7969f89" />
        <codeBase version="1.0.0.0" href="bin/VideoOS.DatabaseUtility.MediaStorage.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VideoOS.Platform.Database" culture="neutral" publicKeyToken="bc60fba4a7969f89" />
        <codeBase version="1.0.0.0" href="bin/VideoOS.Platform.Database.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.windows.forms jitDebugging="false" />
  <appSettings>
    <!-- Added automatically by .net and used by System.Web.ClientServices.Providers.ClientSettingsProvider -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- *** Keys related to AccessControl plugin ***********************************************-->
    <!-- Access Control Client Timeout (in minutes) -->
    <add key="AccessControlClientManagerTimeoutInMinutes" value="1" />
    <!-- ****************************************************************************************-->
    <add key="AbsoluteDataPathByEnvironmentSpecialFolder" value="ApplicationData" />
    <add key="AbsoluteDataPathByText" value="" />
    <add key="SoundNotificationFile" value="Notification.wav" />
    <add key="StatusRequestInterval" value="3000" />
    <add key="MapTimeoutInGetTypeChanged" value="1000" />
    <add key="MapTimeoutInGetVisualElementChanges" value="1000" />
    <add key="MapStatusVisualizationRequestInterval" value="60000" />
    <add key="ServiceChannelMaxClockSkewInMinutes" value="300" />
    <!-- Indicates whether or not to enable client diagnostics. Default value is false-->
    <add key="EnableDiagnostics" value="false" />
    <add key="RestartManagerWarningBeforeRestartInterval" value="00:00:30" />
    <!-- Gets the interval, in milliseconds, before the content toolbars are hidden on no user activity. 
         Zero means that autohide is deactivated.
         The default value is 5000 ms. -->
    <add key="ContentToolbarAutoHideInterval" value="5000" />
    <!-- Timeout waiting for PTZ reply before next ptz command (in millisec) -->
    <add key="PendingPtzTimeoutMilliSec" value="2000" />
    <!-- Time between joystick pollings (in millisec) -->
    <add key="SleepPtzPollingMilliSec" value="10" />
    <!-- Time between image requests in playback (in millisec) -->
    <add key="PlaybackTimerFrequencyMilliSec" value="16" />
    <add key="PlaybackTimerThreadSleepBased" value="true" />
    <!-- Sets the resolution of the system wide multimedia timer in milliseconds. Specify 0 to use disable that the multimedia timer is set by the application. The default value is 1.-->
    <add key="MultimediaTimerResolutionMilliSec" value="1" />
    <!-- Temporary Timeline settings -->
    <!-- Gets the length of one block. This is the smallest time interval the cache will load from the retriever. 
        The default value is one hour. -->
    <add key="Timeline_BlockLength" value="1:00:00" />
    <!-- Gets the ratio of time (compared to the length of the displayed interval) on both sides of the 
        displayed interval for which data will be prefetched to preempt the user's movements.
        The default value is 0.1. -->
    <add key="Timeline_PrefetchRatio" value="0.1" />
    <!-- Gets the time period a cache for an unused source should be kept for.
        This help in scenarios when the user clicks away on a different view and soon after clicks back.
        The default value is one minute. -->
    <add key="Timeline_UnusedDataKeepSpan" value="0:01:00" />
    <!-- Gets the ratio of time (compared to the length of the displayed interval) on both sides of the 
        displayed interval for which that will kept in cache and will NOT be released.
        The default value is 1.0. -->
    <add key="Timeline_KeepRatio" value="1.0" />
    <!-- Gets the refresh interval for sequences that are live - sequences that are happening at the time of the viewing.
        The default value is 30 seconds. -->
    <add key="Timeline_LiveViewsRefreshSpan" value="0:00:30" />
    <!-- Gets the refresh interval for sequences from the start of the viewed period. This ensures that deleting the
        start of the database is handled properly. The default value is 1 minute. -->
    <add key="Timeline_DatabaseStartRefreshSpan" value="0:01:00" />
    <!-- Specifies the maximum number of server requests that can be sent in parallel to the same server. The default value is 5. -->
    <add key="Timeline_MaxConcurrentQueries" value="5" />
    <!-- Indicates the time interval that should be queried at one time from the server. The default value is 6 hours. -->
    <add key="Timeline_TimeSpanOptimizationHint" value="6:00:00" />
    <!-- Indicates the maximum number of results that should be retrieved at one time.
        This is a throttling parameter designed to ease the load on the server.
        The default value is 80. -->
    <add key="Timeline_MaxResultCount" value="2000" />
    <!-- Indicates whether or not to use Access Control at all -->
    <add key="AccessControl_UseAccessControl" value="true" />
    <!-- Indicates whether or not to show any downtime data for Access Control -->
    <add key="AccessControl_ShowDowntimes" value="true" />
    <!-- Number of times to try to gat access control configuration from server before failing. Only the case whe the server throws an PersonalizedConfigurationLoadErrorCommandFaultException exception will be retryed -->
    <add key="AccessControl_GetConfigurationLoadErrorRetryCount" value="10" />
    <!-- Whether to use the internal map cache when switching between maps -->
    <add key="EnableMapCache" value="true" />
    <!-- Sets the processing priority of incomming metadata. Use this as a throttle if high FPS metadata causes the SC to become unresponsive. Specify 0 to diable metadata throttling. The default value is 0 -->
    <add key="MetadataProcessFrequencyMilliSec" value="0" />
    <!-- Make the saving of changed views fully backward compatible to pre 9.1 clients. This is only live updated that is affected. -->
    <add key="BackwardCompatibleViewUpdate" value="false" />
    <!-- Whether to enable the Smart Client performance counters.-->
    <add key="SmartClient_EnablePerformanceCounters" value="false" />
    <!-- Whether to enable the video image performance counters. Note that the first time after this flag is set to true, the client must be started in elevated mode (run as administrator) in order for the performance counters to be created on the system. Also note that setting to true will increase SC startup time with approximately 3 seconds. The defauld value is false. -->
    <add key="VideoImage_EnablePerformanceCounters" value="false" />
    <!-- Time in milliseconds to delay the state texts shown in the video image. The default value is 200 -->
    <add key="VideoImage_StateTextDelayMilliSec" value="200" />
    <!-- Whether or not reuse the video player components. The default value is true -->
    <add key="VideoImage_ReuseVideoPlayes" value="true" />
    <!-- Priority of the video rendering relative to e.g. user input. Possible values are 'high', 'normal' and 'low'. The default value is 'normal' -->
    <add key="VideoImage_VideoRenderPriority" value="normal" />
    <!-- Sets the video rendering mode. Possible values are 'Default' and 'SoftwareOnly' -->
    <add key="VideoImage_VideoRenderMode" value="Default" />
    <!-- Whether view item selection should be changed on view item changes outside the selected view -->
    <add key="GlobalViewItemSelectionMode" value="false" />
    <!-- Controls the timeouts used when communicating with IDP services on server -->
    <add key="IDPCommunication_Timeout" value="00:01:00" />
    <!-- Controls the timeouts used when communicating with WCF service on server -->
    <add key="WCFCommunication_SendTimeout" value="00:10:00" />
    <add key="WCFCommunication_OpenTimeout" value="00:01:00" />
    <add key="WCFCommunication_CloseTimeout" value="00:01:00" />
    <add key="WCFCommunication_ReceiveTimeout" value="00:10:00" />
    <!-- File size limits for smart map data (image (50MB), shapefile (80MB) and CAD file (100MB))  -->
    <add key="SmartMap_MaxImageFileSize" value="50000000" />
    <add key="SmartMap_MaxShapeFileSize" value="83886080" />
    <add key="SmartMap_MaxCadFileSize" value="104857600" />
    <!-- DelayLoadOverlay feature in smart map parameters -->
    <!-- Enable the DelayLoadOverlay feature or not. Valid values are True and False. The default value is True. -->
    <add key="SmartMap_DelayLoadOverlayEnabled" value="True" />
    <!-- Controls the screen extent margin of the DelayLoadOverlay feature in percentage. A value of 20 will enlarge the screen extend by 20%. The default value is 50. Note that for debugging and testing purposes this can be set to a negative value. -->
    <add key="SmartMap_DelayLoadOverlayExtentMargin" value="30" />
    <!-- Controls the minimum overlay size of the DelayLoadOverlay feature in pixels. Overlays that will appear smaller than this value will not be loaded. The default value is 10 -->
    <add key="SmartMap_DelayLoadOverlayMinSize" value="10" />
    <!-- Controls the minimum building size of the DelayLoadBuilding feature in pixels. Buildings that will appear smaller than this value will not be shown on screen. The default value is 50 -->
    <add key="SmartMap_DelayLoadBuildingMinSize" value="50" />
    <!-- Enabling tile cache for Cad and Shapefiles -->
    <!-- Enable cad tile cache or not. Valid values are True and False. The default value is True. -->
    <add key="SmartMap_CadTileCacheEnabled" value="True" />
    <!-- Enable Shapefile tile cache or not. Valid values are True and False. The default value is True. -->
    <add key="SmartMap_ShapeFileTileCacheEnabled" value="True" />
    <!-- The receive timeout used when communicating with the smart map server -->
    <add key="SmartMap_ReceiveTimeout" value="00:01:00" />
    <!-- Clustering will be disabled for zoomlevels below this scale. For reference the deepest zoomlevel is scale = 35, the highest zoomlevel is scale = 147914387.6 -->
    <add key="SmartMap_Clustering_MinimumScaleToCluster" value="800" />
    <!-- Affects size of clusters. A value of 0 will cause 256 * 256 pixels sized clusters (1 = 128 * 128, 2 = 64 * 64, 3 = 32 * 32, -1 = 512 * 512). -->
    <!-- Minimum value is -3 and maximum value is 3. -->
    <add key="SmartMap_Clustering_ClusterLevelOffset" value="2" />
    <!-- The default scale when zooming on smart map to a specific item -->
    <add key="SmartMap_DefaultZoomToItem" value="800" />
    <!-- The default scale when zooming on smart map to a specific item inside a building -->
    <add key="SmartMap_DefaultZoomToBuildingItem" value="500" />
    <!-- The minimum scale where the geographical layer is shown. Only used for Bing Maps and OpenStreetMap.
         For reference the 6 lowest zoom levels are 199, 141, 99, 70, 49, 25. Setting this to low will impact performance -->
    <add key="SmartMap_MinGeographicalLayerScale" value="99" />
    <!-- If building extent exceeds screenVisibleExtent * buildingPreviewLevelLoadVisibleExtent levels for the building are automatically loaded. -->
    <!-- The higher the value the bigger the extent of the building has to be to load the levels automatically. -->
    <add key="SmartMap_BuildingPreviewLevelLoadVisibleExtent" value="0.2" />
    <!-- Optimal scale when adding a building. The map is zoomed to this scale if greater than defined. -->
    <add key="SmartMap_AddBuildingOptimalScale" value="2000" />
    <!-- Force the HTML view item to allow Smart Client scripting -->
    <add key="HtmlViewItem_ForceAllowScripting" value="False" />
    <!-- List of Export Codecs, known to report video capable, but not to support 24 bits color -->
    <add key="DoNotOfferCodecs" value="Microsoft RLE;Microsoft YUV" />
    <!-- Audio buffering time (before sending captured audio packets) -->
    <add key="AudioBufferTime" value="00:00:00.064" />
    <!-- Audio recording frequency. Allowed values: 8000, 16000-->
    <add key="AudioRecordingFrequency" value="16000" />
    <!-- Controls how often we update monitors in walls. -->
    <add key="EnableMonitorTimer" value="True" />
    <add key="UpdateMonitorTimerInterval" value="00:00:00.180" />
    <add key="UpdateMonitorThrottle" value="00:00:00.20" />
    <add key="UpdateMonitorMaxInterval" value="00:00:00.400" />
    <!-- Controls what decoding fallthrough strategy to use. Allowed values: 
    OnlyIntel - Use Intel decoding only;
    OnlyNvidia - Use Nvidia decoding only;
    AutoNvidia - Start decoding on Nvidia.-->
    <add key="FallThroughPriority" value="AutoNvidia" />
    <add key="HelpAvailable" value="True" />
    <add key="UseOnlineHelp" value="True" />
    <!-- When true makes it possible to select between a number of legacy encryption algorithms for export. -->
    <add key="EnableLegacyEncryption" value="False" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="false" />
    <settings>
      <servicePointManager useNagleAlgorithm="false" expect100Continue="false" />
    </settings>
    <connectionManagement>
      <!--
            Controls how many simultaneous outgoing connections the client is capable
            of handling towards a specific server. * means all server addressed. All remaining
            connections are queued client side.
            -->
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net>
  <!-- 
  WCF logging
  A svclog file will be created logging all WCF traffic. 
  Out comment the <system.diagnostics> node below to enable logging and restart application.
  -->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="MyTraceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="ClientTrace.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
 	-->
  <!-- 
  Soap trace logging
  An xml file with the name of the webservice (ex. VideoOS.Common.Proxy.Recorder.RecorderCommandService.xml) 
  will be created in current directory the application is executed from logging all in- 
  and outgoing soap traffic. Out comment the <add> node below to enable logging and restart application. 
  It may need to be started as administrator if executed from the 'Program Files' folder in order to create the files.
  -->
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="VideoOS.Common.Proxy.Server.AuthorizationHeaderExtention,VideoOS.Shared" priority="1" group="Low" />
        <!-- <add type="VideoOS.Shared.SoapTraceExtension,VideoOS.Shared" priority="1" group="Low" /> -->
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <VideoOS.Diagnostics.Logging>
    <!-- DO NOT DELETE OR EDIT THIS SECTION OR ELEMENTS IN IT BECAUSE IT IS CONTROLLED BY THE USER INTERFACE TO ENABLE/DISABLE LOGGING -->
    <!--
            "type" can be one of:
                File / EventLog / Console

            "level" can be one of:
                debug / info / warning / error

            "filename" specifies the file where a file logger must write its log entries.
                - If filename specifies a full path, that path is used directly.
                   E.g. "C:\Temp\MyLog.txt"
                - If filename is relative - the log file will be relative to the 
                  users TEMP directory - as returned GetTempPath().
                   E.g. ".\MyLog.txt"
                - If filename starts with a tilde (~) then the tilde is replaced with the
                  path to the directory of the executing asembly.
                   E.g. "~\MyLog.txt"
                - If filename is empty then the log file will be placed in the users TEMP
                  directory - as returned GetTempPath() - and the file will get the name 
                  specified in the <Logger> name attribute.
                - If filename contains an enviromental variable then this will be expanded

            "archive" specifies the location of the archive folder.
                - The same apply as for the "filename" attribute except for the 
                  empty value which disables archiving.

            "maxsize" specifies the the maximum size - in megabytes - of a log file. A 
            log file is archived when the file size is greater than the maximum size 
            AFTER entries has been written to the log file. So the archived file may be
            slightly larger then this specified size.
            Default: 100 (MB)
            (An archive folder must be spefied for this setting to have any effect)
		-->
    <!-- ServiceChannel log
        <Logger name="ServiceChannelClient">
            <Appender type="File" level="debug" filename="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\ServiceChanneLog.txt" archive="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\ClientLogs\" maxsize="10" />
        </Logger>
        -->
    <!-- For development purposes you can uncomment the Console Appender in desired Logger -->
    <Logger name="ClientLogger">
      <Appender type="File" level="debug" filename="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\ClientLog.txt" archive="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\ClientLogs\" maxsize="10"></Appender>
      <!--<Appender type="Console" level="debug"></Appender>-->
    </Logger>
    <Logger name="MIPLogger">
      <Appender type="File" level="debug" filename="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\MIPLog.txt" archive="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\MIPLogs\" maxsize="10"></Appender>
      <!--<Appender type="Console" level="debug"></Appender>-->
    </Logger>
    <Logger name="MetadataLogger">
      <Appender type="File" level="warning" filename="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\MetadataLogger.txt" archive="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\MetadataLogs\" maxsize="10"></Appender>
      <!--<Appender type="Console" level="debug"></Appender>-->
    </Logger>
    <Logger name="LegacyLogClient">
      <Appender type="File" level="info" filename="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\LegacyLogClientLog.txt" archive="%ALLUSERSPROFILE%\Milestone\XProtect Smart Client\LegacyLogClientLogs\" maxsize="10"></Appender>
      <!--<Appender type="Console" level="debug"></Appender>-->
    </Logger>
  </VideoOS.Diagnostics.Logging>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>